body {
    margin: 0;
    padding: 0;
    /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container {
    display: grid;
}
/* The only rule that matters */
#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

/* These just style the front page's content */
article {
    /*  just a fancy border  */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
}

h1 {
    position: absolute;
    top: 20%;
    width: 100%;
    font-size: 36px;
    letter-spacing: 3px;
    color: #D4CEb4;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

    h1 span {
        position:absolute;
        font-family: 'Anton', sans-serif;
        letter-spacing: 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }
    
        h1 span a {
            color: #fff;
        }

h3 span img.Logo {
    top: 40%;
   left: 43%;
    position: absolute; 
    display: block;
    max-height: 180px;
    width: auto;
    height: auto;
}
section.content {
   
    background-size: cover;
    height: 500px;
    margin: 0;
    padding: 0;
    
}

/*Nav Bar code for styling and flexiness*/
.nav {
    height: 50px;
    width: 100%;
    background-color: #343B5A;
    position: fixed;
    top: 0;
    z-index: 4;
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            font-family: 'Anton', sans-serif;
            color: #fff;
            padding: 10px 10px 10px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
        font-family: 'Anton', sans-serif;
    }

        .nav > .nav-links > a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #efefef;
        }

            .nav > .nav-links > a:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

    .nav > #nav-check {
        display: none;
    }
    
  /*img.navlogo {
        height: 20px;
        background-color: #343B5A;
    }*/

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked + .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
@import compass body

{
    background-color: #2C2D3D;
}
/*End of Nav bar stuff*/
/*Card used for the Bio page*/

.card {
    width: 600px;
    height: 400px;
    margin: 140px auto;
    background-color: #D4Ceb4;
    background: linear-gradient(rgba(212, 206, 180,1), rgba(212, 206, 180,.9), rgba(212,206, 180,.8), rgba(212,206, 180,.7), rgba(212,206, 180,.3));
    color: #444;
    overflow: hidden;
    /*box-shadow: 5px 5px 0 0 #aaa;*/
}

    .card h1 {
        margin: 0;
        padding: 20px;
        text-align: center;
        font-family: Roboto Slab;
        font-weight: 400;
        background-color: #4DD65F;
        animation: fadein 1.2s;
    }

    .card img {
        float: left;
        width: 200px;
        height: 300px;
        margin: 20px;
        position: relative;
        z-index: 1;
        animation: grow 0.6s;
    }

    .card .bio {
        position: relative;
        margin: 20px;
        font-family: 'Barlow', sans-serif;
        animation: slidein 1.2s;
    }

@keyframes fadein {
    from {
        color: transparent;
    }

    to {
        color: inherit;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    49.9% {
        opacity: 0;
    }

    50% {
        left: -240px;
    }

    to {
        left: 0;
    }
}
@import compass body

{
    background-color: #2C2D3D;
}

/*Cards used for the Projects*/
.projcard {
    width: 600px;
    margin: 80px auto;
    background-color: #343B5A;
    background: linear-gradient(rgba(52, 59, 90,1), rgba(52, 59, 90,.9), rgba(52, 59, 90,.8), rgba(52, 59, 90,.7), rgba(52, 59, 90,.3));
    color: #cec2c2;
    overflow: hidden;
    /*box-shadow: 5px 5px 0 0 #D4Ceb4;*/
}

    .projcard h1 {
        margin: 0;
        padding: 20px;
        text-align: center;
        font-family: Roboto Slab;
        font-weight: 400;
        background-color: #4DD65F;
        animation: fadein 1.2s;
    }

    .projcard img {
        float: left;
        width: 300px;
        height: 200px;
        margin: 20px;
        position: relative;
        z-index: 1;
        animation: grow 0.6s;
    }

    .projcard .bio {
        position: relative;
        margin: 20px;
        font-family: 'Barlow', sans-serif;
        animation: slidein 1.2s;

    }
    .projcard .bioLink {
        position: relative;
        margin: 20px;
        font-family: 'Barlow', sans-serif;
        animation: slidein 1.2s;
        background-color: lemonchiffon;
    }

@keyframes fadein {
    from {
        color: transparent;
    }

    to {
        color: inherit;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    49.9% {
        opacity: 0;
    }

    50% {
        left: -240px;
    }

    to {
        left: 0;
    }
}
